.sidenav {
    color: #fff;
    min-height: 100vh;
    
}
nav>*{
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
    font-weight: 500;
    width: 100%;
    cursor: pointer;

}
.nav>*:hover{
    
    color: #1da1f2;
    border-radius: 1.5em;
    background: #7e90a1;
}
.tweet_btn{
    color: white;
}
