
.main_container {
  display: block;
  width: 600px;
  height: 100vh;
  background-color: black;
  margin: auto;
  color: white;
}
.flexSimpleContainer{
  display: flex;
  justify-content: space-between;
}
 
 .secFont{
   color:#676F76 ;
 }
 .profilePic{
   margin-top: -75px;
   width: 150px;
   height: 150px;
   border-radius: 75px;
   border: 2px solid black; 
 }
 .btn_{
   width: 115px;
   height: 40px;
   margin-top: 10px;
 }
.bb{
  width: 25%;
  height: 60px;
  
}

.borderLine{
  border-bottom: 1px solid #676F76;
}